<div id='welcomeImg' class='col-md-4'>
  <img src='assets/pho.jpg' alt='food pic' class="col-md-3"/>
  <img src='assets/burgers.jpg' alt='food pic' class="col-md-3"/>
  <img src='assets/salad.jpg' alt='food pic' class="col-md-3"/>
</div>

<div id="loginform" class="col-md-6">
<%= form_tag(login_path) do %>

  <%= label_tag(:username) %>
  <%= text_field_tag(:username, params[:username], autofocus: true) %>

  <%= label_tag(:password) %>
  <%= password_field_tag(:password) %>

  <%= submit_tag("Log in", class: "btn btn-primary") %>
  <%= link_to "Don't have an account? Sign up!", signup_path %>

<% end %>
</div>
