<h2> <%= @user.username %>'s Profile</h2>
<img src="<%= @user.image %>" alt="profile Picture" />

<div>
  <p><h4><%= @user.username %>'s Reviews</h4></p>
  <% @user.comments.each do |comment| %>
    <b>Restaurant: </b><%= link_to "#{comment.food.restaurant.name}" %><br/>
    <b>Food: </b><%= link_to "#{comment.food.name}", food_path %><br/>
    <b>Comment: </b><%= comment.text %><br/>
    <b>Rating: </b><%= comment.rating %><br/>
    <br/>
  <% end %>
</div>