<h2> <%= @user.username %>'s Profile</h2>
<img width='200px' src="<%= @user.image %>" alt="profile Picture" />
<div>
  <p><h4><%= @user.username %>'s Reviews</h4></p>
  <% @user.comments.each do |comment| %>
    <b>Restaurant: </b><%= link_to "#{comment.food.restaurant.name}", food_restaurant_path(comment.food_id, comment.food.restaurant_id) %><br/>
    <b>Food: </b><%= link_to "#{comment.food.name}", food_path(comment.food_id) %><br/>
    <b>Comment: </b><%= comment.text %><br/>
    <b>Rating: </b><%= num_to_stars(comment.rating) %><br/>
    <br/>
  <% end %>
</div>