 <button type="button" id="show-comments">Show Comments</button>
  <div class="comments">
    <% @food.comments.reverse.each do |comment| %>
      <ul>
        <li>
          Posted <%= time_ago_in_words(comment.created_at) %><br>
          <div class='original-comment'>
            Rating: <%= comment.rating%><br>
            Description: <%= comment.text %><br>
          </div>
          Author:
            <% if comment.user != nil %>
              <%= comment.user.username %>
            <% else %>
              <%= "N/A" %>
            <% end %>
        </li>
      </ul>
        <% if current_user != nil%>
          <% if current_user.id == comment.user_id %>
          <div class="comment-container">
            <div class='edit' id="<%=comment.id%>" hidden>
              <%= form_for [@food, @comment], url: comment_path(comment.id), method: :patch do |f| %>
              <%= f.label :text, "Description" %>:
              <%= f.text_area :text, value: "#{comment.text}"%><br>
              <%= f.label :rating %>:
              <%= f.number_field :rating, max: 5, min: 0, value: "#{comment.rating}" %><br>
              <%= f.submit "Edit Comment"%>
            </div>
          <% end %>
          <a class='edit-comment'>Edit Comment</a> |
          <%= link_to "Delete", comment, method: :delete, data: {confirm: "Are you sure?"}%>
          </div>
          <br/>
          <br/>
          <% end %>
        <% end %>
      <% end %>
  </div>