<div class="col-md-12 test">
  <%= @food.name %>
  <br/>
  <%= @food.description %>
  <br/>
  <%= link_to @food.restaurant.name, food_restaurant_path(@food.id, @food.restaurant_id)%>
</div>


<div class="comments">
  <% @food.comments.each do |comment| %>
    <ul>
      <li>
        Rating: <%= comment.rating%><br>
        Description: <%= comment.text %>
      </li>
    </ul>
  <% end %>
</div>


<div class="new comment">
    <%= form_for [@food, @comment] do |f| %>
      <%= f.label :text %>
      <%= f.text_area :text %>
      <%= f.label :rating %>
      <%= f.number_field :rating, max: 5, min: 0 %>
      <%= f.submit %>
    <% end %>
</div>
