<%= render 'errors' %>
<div class="row">
  <div class="col-md-3 comment-display">
    <%= render 'comments_display' %>
  </div>
  <div class="col-md-6 test">
    <%= render 'food_description', food_leader: "" %>
  </div>
  <div class="col-md-3 new-comment">
    <%= render 'new_comment_form' %>
  </div>
</div>
<br/>
<div class="row">
  <%= render 'food_pictures' %>
</div>
