<div class="col-md-12 test">
  <% if @restaurant %>
      <div class='row'>
        <div class='col-md-3'>
          <% if @restaurant.image %>
            <img src='<%= @restaurant.image %>' width = '150px' />
          <% end %>
        </div>
        &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
        <div class='col-md-9'>
          <% if @restaurant.name %>
            <% if @restaurant.url %>
              <h1><%= link_to "#{@restaurant.name}", @restaurant.url, :target => "_blank" %></h1>
            <% end %>
            <br/>
            <% if @restaurant.rating_stars %>
              <img src='<%= @restaurant.rating_stars %>' />
              <%= @restaurant.review_count %>
            <% end %>
          <% end %>
        </div>
      </div>
      </br>
      <% if @restaurant.location %>
        <address>
          <strong><%= @restaurant.name %></strong><br>
          <%= @restaurant.location %>
          <br/>
          <abbr title="Phone">P:</abbr>
            <% if @restaurant.phone_number %>
              <%= @restaurant.phone_number %>
            <% end %>
        </address>
      <% end %>
      <br/>
      <% if @restaurant.respond_to? (:reviews) %>
        <% @restaurant.reviews.each do |review| %>
          <% if review.respond_to? (:excerpt) %>
           <%= review.excerpt %>
          <% end %>
          <% if review.respond_to? (:rating_image_url) %>
            <img src='<%= review.rating_image_url %>' />
          <% end %>
          <br/>
          <br/>
        <% end %>
      <% end %>
  <% else %>
   Something went wrong. <%= link_to 'Go Back', :back %>
  <% end %>
</div>
